body{
    background-color: #0B0F14;
    color: #E5E7EB;
    accent-color: #6366F1;
    margin-top: 20px;
}
.imgcontainer{
    width: 350px;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-image: url("girl.jpg");
}
nav{
    background-color: #111827;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.buttoncon{
    background-color: #6366F1;
    padding: 15px 30px;
    color: #E5E7EB;
    border-radius: 8px;
    font-size: 20px;
}
.sec{
    margin-top: 100px;
    margin-right: 150PX;
    margin-left: 150PX;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navcon{
    padding-left: 50px;
}
h1{
 font-size: 50px;
 font-weight: 600px;
 font-style: italic;
}
.list{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-right: 30px;
}
.aboutcon{
  border: 4px groove #2D3748;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #111827;
  margin: 60px 150px;
  color: #9CA3AF;
  width: 70%;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.divcon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.heading{
    color: #E5E7EB;
    font-size: 50px;
    font-weight: 100;
    font-style: italic;
}
.heading2{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 40PX;
}
.features-container {
    margin-left: 150PX;
    margin-right: 150px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.feature-card {
    flex: 1 1 200px;
    background-color:#1F2937 ;
    border: 4PX groove #2D3748;
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}
.formcon{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-left: 600px;
    margin-right: 150px;
}
.formcon input,
.formcon textarea{
    padding: 19px;
    margin-bottom: 5px;
    margin-top: 4px;
    border:1px solid #9CA3AF;
    background-color: #111827;
    color: #E5E7EB;
    border-radius: 6px;
    outline: none;

}
.usercontainer{
    margin: 20px;
}
.contactcon h1{
    margin-bottom: 0px;
    margin-left: 150px;
    margin-top: 150px;
}
.contantcon{
    margin-top: 50px;
    margin-left: 150px;
    font-size: 20px;
}
#contact {
  padding: 50px;
  background: #f5f5f5;
  text-align: center;
}
.contact-form button {
  width: 500px;
  padding: 12px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding-left: 300px;
}
.icontainer{
    display: flex;
    justify-content: space-between;
    max-width: 1500px;
}
.strongcon{
    color: #007BFF;
}
.left{
    margin-left: 150px;
    font-size: 18px;
}
.font{
    font-size: 30px;
}